{% load static %}
<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> sell your land here </title>
    <link rel="stylesheet" href="{%static 'admin_dashboard.css' %}">
    <!-- Boxicons CDN Link -->
    <link href="{%static 'https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' %}" rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name">REMS</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="{%url 'admin_dashboard' %}" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{%url 'land_types' %}">
            <i class='bx bx-box' ></i>
            <span class="links_name">Land types</span>
          </a>
        </li>
        
        <!--
        <li>
          <a href="{%static '#' %}">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>-->
        
        <li>
          <a href="{%url 'total_users' %}">
            <i class='bx bx-message' ></i>
            <span class="links_name">Total Users</span>
          </a>
        </li>
        <li>
          <a href="{%url 'total_lands' %}">
            <i class='bx bx-message' ></i>
            <span class="links_name">Total Lands</span>
          </a>
        </li>
        <li>
          <a href="{%url 'total_sellers' %}">
            <i class='bx bx-message' ></i>
            <span class="links_name">Total Sellers</span>
          </a>
        </li>
        <li>
          <a href="{%url 'total_sellerlands' %}">
            <i class='bx bx-message' ></i>
            <span class="links_name">Total Seller Lands</span>
          </a>
        </li>
        <li>
          <a href="{%url 'add_lands' %}">
            <i class='bx bx-message' ></i>
            <span class="links_name">Add Lands</span>
          </a>
        </li>
        <li>
          <a href="{%url 'complaints' %}">
            <i class='bx bx-message' ></i>
            <span class="links_name">complaints</span>
          </a>
        </li>
       
        
        <!--
        <li>
          <a href="{%static '#' %}">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favrorites</span>
          </a>
        </li>   -->
        
        <!--<li>
          <a href="{%static '#' %}">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>-->
        <li class="log_out">
          <a href="{%url 'signout' %}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Sign out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      
      <div class="profile-details">
        <img src="{%static 'images/images/profile.jpg'  %}" alt="">
        <span class="admin_name">REMS ADMIN </span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Users</div>
            <div class="number">{{count}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Daily</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sellers</div>
            <div class="number">{{count1}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Daily</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart one' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Lands</div>
            <div class="number">{{count2}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Daily</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Seller Lands</div>
            <div class="number">{{count3}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Daily</span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        
      
      
      
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>
