{% load static %}
<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> sell your land here</title>
    <link rel="stylesheet" href="{%static 'admin_dashboard.css' %}">
    <!-- Boxicons CDN Link -->
    <link href="{%static 'https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' %}" rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name">REMS</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="{%url 'sellerdash' %}">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Seller Dashboard</span>
          </a>
        </li>
        

       
        <li>
            <a href="{%url 'sellerlands' %}">
              <i class='bx bx-message' ></i>
              <span class="links_name">My Lands</span>
            </a>
          </li>
       
       
        <li>
          <a href="{%url 'selleraddland' %}">
            <i class='bx bx-message' ></i>
            <span class="links_name">Add My Land</span>
          </a>
        </li>
       
        <li class="log_out">
          <a href="{%url 'logout' %}">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Add My Land</span>
        </div>
        <div class="profile-details">
          <img src="{%static 'images/images/profile.jpg' %}" alt="">
          <span class="admin_name">REMS SELLER </span>
          <i class='bx bx-chevron-down' ></i>
        </div>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <form id="f1" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <h2>Land Information Form</h2>
            <label for="land_name">Survey_number</label>
            <input type="text" name="land_name" id="land_name" required><br><br>
            <label for="land_size">Size</label>
            <input type="text" name="land_size" id="land_size" required><br><br>
            <label for="land_price">Price</label>
            <input type="text" name="land_price" id="land_price" required><br><br>
            <label for="land_location">Location</label>
            <textarea name="land_location" id="land_location" rows="3" required></textarea><br><br>
            <label for="land_seller">Landseller</label>
            <input type="text" name="land_seller" id="land_seller" required><br><br>
            <label for="seller_mobile">Sellermobile</label>
            <input type="cell" name="seller_mobile" id="seller_mobile" required><br><br>
            <label for="land_image">Landimage</label>
            <input type="file" name="myfile" id="land_image" required><br><br>
            <input type="submit" value="Submit">
            <div class="form-field" align="center">
            {{status}}
            </div>
        </form>
  </body>
</html>